body{
    background: CornflowerBlue;
    margin: 0;
    padding: 0;
}
/*---Header---*/
header {
    background: Cornsilk;
    margin-bottom: 20px;
    overflow: hidden;
}

.container{
    max-width: 960px;
    width: 96%;
    margin: auto;
}

.logo{
    float: left;
    margin-top: 10px;
}

nav{
    float: right;
    line-height: 70px;
}

nav li{
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    background: BlueViolet;
    line-height: normal;
}

/*---Gallery---*/

.gallery{
    max-width: 96%;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
  
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 5px;
}
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
